{% load settings %}
Welcome to the ARDC's Nectar Virtual Desktop Service

Hi {{ user.get_full_name }},
<br>
<br>
Welcome to the ARDC's Nectar <a href="{% get_setting "SITE_URL" %}">Virtual
  Desktop Service</a>.
<br>
<br>
We hope that you will find the service useful for your research.
<br>
<br>
We recommend that you take a look at our
<a href="https://tutorials.rc.nectar.org.au/virtual-desktop-service">Virtual
  Desktop service tutorial</a> to familiarise yourself with all the service
has to offer.
<br>
<br>
If at any time you have any issues or questions, please do not hesitate to
contact us.  You can use the
<a href="{% get_setting "SITE_URL" %}/help/">contact form</a>, or you can
email us at <a href="mailto:support@ehelp.edu.au">support@ehelp.edu.au</a>.
<br>
<br>
Yours sincerely,
<br>
ARDC's Nectar Research Cloud team
