### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3

static/CACHE


### Editors ###
*.swp
.vscode/
