### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
sqlite3.db

static/CACHE
