### Bumblebee instance config

# Whether to require authN with AAF (Australian Access Federation).
REQUIRE_AAF=False

# Friendly name for the current environment.
ENVIRONMENT_NAME=

# Names/addresses under which Bumblebee is accessible. Comma-separated.
ALLOWED_HOSTS=

# Full URL to the entry point to Bumblebee.
# https SITE_URL assumes there is a proxy in front
SITE_URL=

### Bumblebee Guacamole integration config

# GUACAMOLE_URL_TEMPLATE uses three variables on templating:
#   env=settings.ENVIRONMENT_NAME
#   zone=self.boot_volume.zone.lower()
#   path=guac_utils.get_connection_path(self.guac_connection)
# e.g. GUACAMOLE_URL_TEMPLATE=http://{env}-guacamole-{zone}.example.com/{path}
GUACAMOLE_URL_TEMPLATE=

### Bumblebee OpenID Connect integration config

OIDC_SERVER_URL=

OIDC_RP_CLIENT_ID=bumblebee
OIDC_RP_CLIENT_SECRET=

# OIDC_RP_SCOPES should include a scope that serves the ``roles`` claim
# in the ID token, with an array of user's roles.
OIDC_RP_SCOPES=openid email roles

### Bumblebee OpenStack integration config

OS_AUTH_URL=

OS_APPLICATION_CREDENTIAL_ID=
OS_APPLICATION_CREDENTIAL_SECRET=

OS_SECGROUPS=bumblebee
OS_KEYNAME=bumblebee

### Guacamole OpenID Connect integration config

# Guacamole requires a non-confidential OIDC client with implicit flow enabled.
OPENID_AUTHORIZATION_ENDPOINT=
OPENID_JWKS_ENDPOINT=
OPENID_ISSUER=
OPENID_CLIENT_ID=guacamole
OPENID_REDIRECT_URI=
