### Bumblebee instance config

# Whether to require authN with AAF (Australian Access Federation).
REQUIRE_AAF=False

# Friendly name for the current environment.
ENVIRONMENT_NAME=Bumblebee

# Names/addresses under which Bumblebee is accessible. Comma-separated.
ALLOWED_HOSTS=localhost,bumblebee

# Full URL to the entry point to Bumblebee.
# https SITE_URL assumes there is a proxy in front
SITE_URL=http://bumblebee:8000

### Bumblebee credentials

# If no database credentials are set, the username 'root' and the password
# 'toor' are used as defaults.
#DB_USER=
#DB_PASSWORD=

# If no keycloak credentials are set, the username 'admin' and the password
# 'admin' are used as defaults.
#KC_USER=
#KC_PASSWORD=

### Bumblebee Guacamole integration config

# GUACAMOLE_URL_TEMPLATE uses three variables on templating:
#   env=settings.ENVIRONMENT_NAME
#   zone=self.boot_volume.zone.lower()
#   path=guac_utils.get_connection_path(self.guac_connection)
# e.g. GUACAMOLE_URL_TEMPLATE=http://{env}-guacamole-{zone}.example.com/{path}
GUACAMOLE_URL_TEMPLATE=http://guacamole:9000/guacamole/{path}

### Bumblebee OpenID Connect integration config

OIDC_SERVER_URL=http://keycloak:8080/realms/bumblebee/protocol/openid-connect

OIDC_RP_CLIENT_ID=bumblebee
OIDC_RP_CLIENT_SECRET=

# OIDC_RP_SCOPES should include a scope that serves the ``roles`` claim
# in the ID token, with an array of user's roles.
OIDC_RP_SCOPES=openid email roles

### Bumblebee OpenStack integration config

OS_AUTH_URL=

OS_APPLICATION_CREDENTIAL_ID=
OS_APPLICATION_CREDENTIAL_SECRET=

OS_SECGROUPS=bumblebee
OS_KEYNAME=bumblebee

### Guacamole OpenID Connect integration config

# Guacamole requires a non-confidential OIDC client with implicit flow enabled.
OPENID_AUTHORIZATION_ENDPOINT=http://keycloak:8080/realms/bumblebee/protocol/openid-connect/auth
OPENID_JWKS_ENDPOINT=http://keycloak:8080/realms/bumblebee/protocol/openid-connect/certs
OPENID_ISSUER=http://keycloak:8080/realms/bumblebee
OPENID_CLIENT_ID=guacamole
OPENID_REDIRECT_URI=http://guacamole:9000/guacamole
