pbr
wheel
Django<4
oslo.concurrency
keystoneauth1
python-cinderclient
python-glanceclient
python-keystoneclient
nectarallocationclient
python-novaclient
python-neutronclient
django-mathfilters
django-currentuser
mysqlclient
mozilla-django-oidc
nanoid
django-rq
rq-scheduler
pandas
xlsxwriter
django_compressor
django-libsass
Pillow
python-freshdesk
