pbr
wheel
Django<4
oslo.concurrency
keystoneauth1
python-cinderclient
python-glanceclient
python-keystoneclient
nectarallocationclient
python-novaclient
python-neutronclient
django-mathfilters
django-currentuser
git+https://github.com/NeCTAR-RC/mozilla-django-oidc@5a5eec0#egg=mozilla-django-oidc
nanoid
django-rq
rq-scheduler
pandas
xlsxwriter
django_compressor
django-libsass
Pillow
python-freshdesk
django-health-check
django-prometheus
