<div class="card h-100">
  <div class="card-body h-100 d-flex flex-column text-center">
    <div class="feature">
      <div class="feature-icon">
        <img src="{{ desktop_type.logo }}" class="img-fluid mb-3" />
      </div>
      <h6>OPERATING SYSTEM</h6>
      <p>{{ desktop_type.name }}
      {% if vm_status and vm_status.status != 'No_VM' %} - Selected {% endif %}</p>
      {% if desktop_type.details.features.apps %}
        <h6>FEATURES</h6>
        <p>
        {% for app in desktop_type.details.features.apps %}
          {{ desktop_type.details.features.apps }}&nbsp;
        {% endfor %}
        </p>
      {% endif %}
    </div>
    <a href="{% url 'desktop_details' desktop_name=desktop_type.id %}" class="card-link mt-auto"><span class="card-link-btn">View Details</span></a>
  </div>
</div>

{% block modals %}
{% endblock modals %}
