<div class="p-5 text-center d-inline-block">
    <p class="h5 text-danger pb-3"><i class="fas fa-exclamation-triangle"></i> {{ requesting_feature }} Error</p>
    <p>Your {{ desktop_type.name }} {{ requesting_feature }} has thrown an error.
        The error has caused the application to get into an undefined state; support has been notified, and will address
        this error. Please contact support for further information.</p>
    <p>
        <a href="{% url 'help' %}">
            Get Help</a>
    </p>
</div>
