{% extends 'vm_manager/html/VM_Okay_base.html' %}
{% block buttons %}
{% if "BOOST_BUTTON" in buttons_to_display %}
<div>
    You can temporarily increase the size of your {{ requesting_feature }} by clicking the button below.
</div>
<a class="button" data-modal-target="{{ app_name }}-{{ operating_system }}-supersize-modal" href="#">
    Boost my {{ operating_system.capitalize }} {{ requesting_feature }} <sup>(BETA)</sup>
</a>
{% endif %}
{% endblock buttons %}

{% block modals %}
{% if "BOOST_BUTTON" in buttons_to_display %}
<div class="modal__dialog" id="{{ app_name }}-{{ operating_system }}-supersize-modal">
    <h2>
        Confirm Boosting Your {{ operating_system.capitalize }} {{ requesting_feature }}
    </h2>
    <p>
        Please save any work and close the connection to your {{ requesting_feature }} before boosting it.
    </p>
    <p>
        Your {{ requesting_feature }} will be unreachable for five minutes while boosting.
    </p>
    <p>
        Please confirm your selection.
    </p>
    <div>
        <button class="button-small"
                title="Boost {{ operating_system.capitalize }} {{ requesting_feature }}"
                onclick="supersize_{{ app_name }}_{{ operating_system.capitalize }}(this)">
            BOOST
        </button>
    </div>
</div>
{% endif %}
{% endblock modals %}
