<div>
    <a class="btn btn-success" href="{{ what_to_show.url }}" target="_blank">
        Open {{ desktop_type.name }} {{ requesting_feature }}
    </a>
</div>

{% block supersize_message %}
{% endblock supersize_message %}

{% if buttons_to_display %}
<div class="accordion">
  <div class="accordion-item">
    <h5 class="accordion-header" id="{{ app_name }}-{{ desktop_type.id }}-options">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-collapse" aria-expanded="true" aria-controls="collapseOne">
        Options
      </button>
    </h5>

    <div id="{{ app_name }}-{{ desktop_type.id }}-collapse" class="accordion-collapse collapse show" aria-labelledby="{{ app_name }}-{{ desktop_type.id }}-options" data-bs-parent="#{{ app_name }}-{{ desktop_type.id }}-options">
      <div class="accordion-body">
        {% if "REBOOT_BUTTON" in buttons_to_display %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-reboot-modal">
          Reboot my {{ desktop_type.name }} {{ requesting_feature }}
        </button>
        {% endif %}

        {% if "SHELVE_BUTTON" in buttons_to_display %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-shelve-modal">
          Shelve my {{ desktop_type.name }} {{ requesting_feature }}
        </button>
        {% endif %}

        {% if "DELETE_BUTTON" in buttons_to_display %}
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-delete-modal">
          Delete my {{ desktop_type.name }} {{ requesting_feature }}
        </button>
        {% endif %}

        {% if "BOOST_BUTTON" in buttons_to_display %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-supersize-modal">
          Boost my {{ desktop_type.name }} {{ requesting_feature }}
        </button>
        {% endif %}

        {% block buttons %}
        {% endblock buttons %}

        {% if "BOOST_BUTTON" in buttons_to_display %}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"> Default {{ requesting_feature }} </th>
              <th scope="col"> Boosted {{ requesting_feature }} </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> vCPU </td>
              <td> {{ desktop_type.default_flavor.vcpus }} vCPU Cores </td>
              <td> {{ desktop_type.big_flavor.vcpus }} vCPU Cores </td>
            </tr>
            <tr>
              <td> RAM </td>
              <td> {{ desktop_type.default_flavor.ram }} GB </td>
              <td> {{ desktop_type.big_flavor.ram }} GB </td>
          </tr>
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if "REBOOT_BUTTON" in buttons_to_display %}
<div class="modal fade" id="{{ app_name }}-{{ desktop_type.id }}-reboot-modal" tabindex="-1" aria-labelledby="{{ app_name }}-{{ desktop_type.id }}-reboot-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ app_name }}-{{ desktop_type.id }}-reboot-modal-label">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please save any work and close the connection to your {{ requesting_feature }} before rebooting it.</p>
        <p>Your {{ requesting_feature }} will be unreachable for three minutes while it reboots.</p>
        <p><b>Note</b>: A soft reboot is a request to the operating system to reboot itself and is the safer option. A hard
        reboot is a power cycle for the machine, and should only be used as a last resort, as it can on rare occasions
        cause serious file system damage.</p>
        <p>Please confirm your selection.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="reboot_{{ app_name }}_{{ desktop_type.id }}_soft(this)">Soft Reboot</button>
        <button type="button" class="btn btn-danger" onclick="reboot_{{ app_name }}_{{ desktop_type.id }}_hard(this)">Hard Reboot</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if "SHELVE_BUTTON" in buttons_to_display %}
<div class="modal fade" id="{{ app_name }}-{{ desktop_type.id }}-shelve-modal" tabindex="-1" aria-labelledby="{{ app_name }}-{{ desktop_type.id }}-shelve-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ app_name }}-{{ desktop_type.id }}-shelve-modal-label">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Shelving your {{ requesting_feature }} will put it in a suspended state, where it is no longer consuming cloud
        resources. A shelved {{ requesting_feature }} can quickly be unshelved to get back to the state it was before shelving.</p>
        <p>Please save any work and close the connection to your {{ requesting_feature }} before shelving it.</p>
        <p>Please confirm your selection.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="shelve_{{ app_name }}_{{ desktop_type.id }}(this)">Shelve</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if "DELETE_BUTTON" in buttons_to_display %}
<div class="modal fade" id="{{ app_name }}-{{ desktop_type.id }}-delete-modal" tabindex="-1" aria-labelledby="{{ app_name }}-{{ desktop_type.id }}-delete-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ app_name }}-{{ desktop_type.id }}-delete-modal" tabindex="-1" aria-labelledby="{{ app_name }}-{{ desktop_type.id }}-delete-modal-label">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please confirm your selection. Once a {{ requesting_feature }} has been deleted it is not recoverable.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="delete_{{ app_name }}_{{ desktop_type.id }}(this)">Delete</button>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if "BOOST_BUTTON" in buttons_to_display %}
<div class="modal fade" id="{{ app_name }}-{{ desktop_type.id }}-supersize-modal" tabindex="-1" aria-labelledby="{{ app_name }}-{{ desktop_type.id }}-supersize-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ app_name }}-{{ desktop_type.id }}-supersize-modal-label">Confirm</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please save any work and close the connection to your {{ requesting_feature }} before boosting it.</p>
        <p>Your {{ requesting_feature }} will be unreachable for five minutes while boosting.</p>
        <p>Please confirm your selection.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onclick="supersize_{{ app_name }}_{{ desktop_type.id }}(this)">Boost</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
