{% extends 'vm_manager/html/VM_Okay.html' %}

{% block supersize_message %}
    <p>
    Your {{ desktop_type.id }} {{ requesting_feature }} is set to resize back
    to the default size after 11:59 pm on {{ what_to_show.expires }}.
    </p>
    <p>
    Please check the options below if you would like to extend the expiration.
    </p>
{% endblock supersize_message %}
{% block buttons %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-downsize-modal">
	  Downsize my {{ desktop_type.name }} {{ requesting_feature }}
	</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-extend-modal">
	  Extend my {{ desktop_type.name }} {{ requesting_feature }} Boost by N days
	</button>
{% endblock buttons %}

{% block modals %}
<div class="modal__dialog" id="{{ app_name }}-{{ desktop_type.id }}-downsize-modal">
    <h2>
        Confirm Downsizing Your {{ desktop_type.id }} {{ requesting_feature }}
    </h2>
    <p>
        Please save any work and close the connection to your {{ requesting_feature }} before downsizing it.
    </p>
    <p>
        Your {{ requesting_feature }} will be unreachable for five minutes while downsizing.
    </p>
    <p>
        Please confirm your selection.
    </p>
    <div>
        <button class="button-small"
                title="Downsize {{ desktop_type.id }} {{ requesting_feature }}"
                onclick="downsize_{{ app_name }}_{{ desktop_type.id }}(this)">
            DOWNSIZE
        </button>
    </div>
</div>

<div class="modal__dialog" id="{{ app_name }}-{{ desktop_type.id }}-extend-modal">
    <h2>
        Extend the Expiration of Your Boosted {{ desktop_type.id }} {{ requesting_feature }}
    </h2>
    <p>
        This will extend the expiration by seven days.
    </p>
    <p>
        The current expiration date is {{ what_to_show.expires }}
    </p>
    <p>
        The new expiration date will be {{ what_to_show.extended_expiration }}
    </p>
    <div>
        <button class="button-small"
                title="Extend {{ desktop_type.id }} {{ requesting_feature }}"
                onclick="extend_{{ app_name }}_{{ desktop_type.id }}(this)">
            EXTEND
        </button>
    </div>
</div>
{% endblock modals %}
