{% load mathfilters %}
<div class="p-5 text-center">
  <div class="worker-loader align-middle" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <p class="h5 py-1 py-sm-2 py-md-3">
    The worker is busy... 
  </p>
  
  <div class="progress position-relative" style="height: 3em;">
    <div id="{{ app_name }}-{{ desktop_type.id }}-bar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ vm_status.status_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ vm_status.status_progress }}%">
    </div>
    <div id="progress-bar-message" class="position-absolute w-100 d-flex justify-content-center align-self-center"></div>
  </div>

  <p class="pt-3">
    Please wait for your {{ requesting_feature }} to be ready. When it's ready, the page will refresh.
  </p>
</div>
