{% extends 'common/base.html' %}

{% block breadcrumb %}
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a href="{% url 'projects' %}" itemprop="item" title="Workspaces">
        <span itemprop="name">Workspaces</span>
    </a>
    <meta content="2" itemprop="position" />
</li>
{% endblock breadcrumb %}

{% block content %}
<div class="container py-5">
    {% if allow_new_projects %}<div><a class="btn btn-primary btn-small" style="float:right" href="{% url 'new_project' %}">New Workspace</a></div>{% endif %}
    <h2 class="display-5 mb-4">
      Details of your {% if allow_new_projects %}Workspaces{% else %}Workspace{% endif %}:</h2>
    {% for project in user_projects %}
        <div>
            <h3>{{ project.title }}</h3>
            <table class="table">
                <tr><td>Description</td><td>{{ project.description }}</td></tr>
                <tr><td>Proposed on</td><td>{{ project.created }}</td></tr>
        {% if project.ARO_approval %}
                <tr><td>Status</td><td>Accepted</td></tr>
        {% elif project.ARO_approval is null %}
                <tr><td>Status</td><td>Pending approval</td></tr>
        {% else %}
                <tr><td>Status</td><td>Rejected</td></tr>
        {% endif %}
                <tr><td>Features</td>
                    <td>
                        <p>This workspace has access to these features:</p>
                        <ul>
                        {% for feature in project.permissions.all %}
                            <li>{{ feature }}</li>
                        {% empty %}
                            <li>This workspace doesn't have access to any features yet</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        {% if not project.ARO_approval is False %}
            <a href="{% url 'project_edit' project.id %}" class="btn btn-default btn-sm"><i class="fas fa-pen"></i> Edit Workspace details</a>
        {% else %}
            <p>The details of this Workspace cannot be edited, as it has been rejected by the Administrator. Please contact Nectar Support for more information.</p>
        {% endif %}
        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    {% empty %}
        <div>You don't have any Workspaces yet</div>
    {% endfor %}
</div>
{% endblock %}
