{% extends 'researcher_workspace/project/project_form_base.html' %}

{% block breadcrumb %}
{{ block.super }}
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a href="{% url 'new_project' %}" itemprop="item" title="New Project">
        <span itemprop="name">New Project</span>
    </a>
    <meta content="3" itemprop="position" />
</li>
{% endblock breadcrumb %}

{% block form_title %}Propose a new project{% endblock%}

{% block form_submit_url %}{% url 'new_project' %}{% endblock %}
