{% extends 'common/base.html' %}
{% load data_as_table %}
{% block content %}
<div class="container">
<h2>Deleted Instances</h2>
<p>Bumblebee Instances that are not marked as deleted that have gone
   missing on the Openstack side.</p>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>environment</th>
    </tr>
    </thead>
    {{ deleted_instances|print_2d_list_in_table_body }}
</table>

<h2>Deleted Volumes</h2>
<p>Bumblebee Volumes that are not marked as deleted that have gone
   missing on the Openstack side.</p>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>environment</th>
    </tr>
    </thead>
    {{ deleted_volumes|print_2d_list_in_table_body }}
</table>

<h2>Missing Instances</h2>
<p>Openstack instances that don't have a corresponding Bumblebee Instance
  record.  These may be instances managed by another Bumblebee environment
  or Bumblebee control VMs (in dev).</p>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>environment</th>
    </tr>
    </thead>
    {{ missing_instances|print_2d_list_in_table_body }}
</table>

<h2>Missing Volumes</h2>
<p>Openstack volumes that don't have a corresponding Bumblebee Volume
  record in this Bumblebee environment.  These may be master boot volumes
  or volumes managed by a different Bumblebee environment (in dev).</p>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>environment</th>
    </tr>
    </thead>
    {{ missing_volumes|print_2d_list_in_table_body }}
</table>
</div>
{% endblock %}
