{% extends 'common/base.html' %}

{% block content %}
  <header class="desktop-header">
    <div class="container pt-5 pb-3 position-relative">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Desktop Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ desktop_type.name }}</li>
        </ol>
      </nav>
      <div class="d-flex">
        <div class="desktop-logo flex-grow-1">
          <img src="{{ desktop_type.logo }}" alt="{{ desktop_type.name }}" width="360" />
        </div>
        <div class="desktop-header-button d-none d-sm-inline-block align-self-center">
          {% if launch_allowed %}
            <button class="btn btn-success" title="Launch {{ desktop_type.name }}" data-bs-toggle="modal" data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-launch-modal"><i class="fas fa-plus"></i> Create Desktop</button>
          {% else %}
            <span class="d-inline-block disabled" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="You already have a Virtual Desktop.">
              <button class="btn btn-success" disabled title="Launch {{ desktop_type.name }}">Create Desktop</button>
            </span>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
  <section class="desktop-details">
      <div class="container py-5">
        <div class="row mb-5">
          <div class="col-12 col-md-6 col-lg-7 col-xxl-8">
            {% if desktop_type.details.screenshots %}
            <div id="screenshot-carousel" class="carousel slide shadow mb-3" data-bs-ride="carousel">
              <div class="carousel-indicators">
                {% for screenshot in desktop_type.details.screenshots %}
                <button type="button" data-bs-target="#screenshot-carousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active" aria-current="true"{% endif %} aria-label="{{ screenshot.description }}"></button>
                {% endfor %}
              </div>
              <div class="carousel-inner">
                {% for screenshot in desktop_type.details.screenshots %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ screenshot.url }}" class="d-block w-100" alt="{{ screenshot.description }}">
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#screenshot-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#screenshot-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            {% endif %}
            {{ desktop_type.description | safe }}
          </div>
          <div class="col-12 col-md-6 col-lg-5 col-xxl-4">
            <h6>DEFAULT SIZE</h6>
            <ul>
              <li>{{ desktop_type.default_flavor.vcpus }} VCPUs</li>
              <li>{{ desktop_type.default_flavor.ram }} GB RAM</li>
              <li>{{ desktop_type.default_flavor.disk }} GB Disk Space</li>
            </ul>
            {% if desktop_type.is_resizable %}
            <h6>BOOST SIZE</h6>
            <ul>
              <li>{{ desktop_type.big_flavor.vcpus }} VCPUs</li>
              <li>{{ desktop_type.big_flavor.ram }} GB RAM</li>
              <li>{{ desktop_type.big_flavor.disk }} GB Disk Space</li>
            </ul>
            {% endif %}
            {% if desktop_type.details.features %}
              <h6>FEATURES</h6>
              <ul>
              {% for feature in desktop_type.details.features %}
                <li>{{ feature }}</li>
              {% endfor %}
              <ul>
            {% endif %}
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-lg-12 col-xl-10 offset-xl-1">
            <div class="card bg-light">
              <div class="card-body px-lg-5">
                <h2 class="text-center mt-3 mb-4">This desktop is great for...</h2>
                <ul class="fa-ul mb-4">
                  {% for highlight in desktop_type.details.highlights %}
                    <li class="h5">
                      <span class="fa-li"><i class="fas fa-check-circle text-success"></i></span>
                      <span>{{ highlight }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-12 text-center">
            {% if launch_allowed %}
            <h3 class="mb-4">Would you like to create this desktop?</h3>
            <button class="btn btn-success btn-sm mb-4" title="Launch {{ desktop_type.name }}"
                    data-bs-toggle="modal"
                    data-bs-target="#{{ app_name }}-{{ desktop_type.id }}-launch-modal">
              <i class="fas fa-plus"></i> Create {{ desktop_type.name }} Desktop
            </button>
            <h5>Or explore <a href="{% url 'index' %}#desktop-library">other desktops.</a></h5>
            {% else %}
            <!-- Sorry.  Only one desktop permitted at a time -->
            {% endif %}
          </div>
        </div>
      </div>
  </section>
  <!-- Modal for the launch button -->
  <div class="modal fade" id="{{ app_name }}-{{ desktop_type.id }}-launch-modal" tabindex="-1" aria-labelledby="{{ app_name }}-{{ desktop_type.id }}-launch-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{ app_name }}-{{ desktop_type.id }}-launch-modal-label">Create Desktop</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        {% if applicable_zones|length == 1 %}
          {% with applicable_zones|first as zone %} 
            <p id="{{ app_name }}-{{ desktop_type.id }}-{{ zone.name }}">
               Your desktop will be launched in the {{ zone.name }} availability zone.
            </p>
          {% endwith %}
        {% elif applicable_zones|length > 1 %}
        <p class="py-3"><strong>Please select your preferred availability zone...</strong></p>
          <select id="{{ app_name }}-{{ desktop_type.id }}-zone" class="form-select"  aria-label="Select prefered availability zone">
            <option value="" selected>Default zone</option>
            {% for zone in applicable_zones %}
              <option value="{{ zone.name }}">{{ zone.name }}</option>
            {% endfor %}
          </select>
        <p class="py-3">Select "Default zone" to let the system choose.</p>
        <p class="h5 py-4">Are you ready to create a {{ desktop_type.name }} Desktop?</p>
        {% else %}
          <p id="{{ app_name }}-{{ desktop_type.id }}-no-zones">
            No availability zones currently support this desktop type.
          </p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" onclick="launch_{{ app_name }}_{{ desktop_type.id }}(this)">Create</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    var beenClicked = false;
    function launch_{{ app_name }}_{{ desktop_type.id }}(tag) {
        if (!beenClicked) {
            beenClicked = true;
            tag.disabled = true;
            {% if applicable_zones|length > 1 %}
            selection = document.getElementById("{{ app_name }}-{{ desktop_type.id }}-zone").value;
            {% else %}
            selection = "";
            {% endif %}
            if (selection == "") {
                {% with "researcher_desktop:launch_vm_default" as url_path %}
                window.location.href = '{% url url_path desktop=desktop_type.id %}';
                {% endwith %}
            } else {
                {% with "researcher_desktop:launch_vm" as url_path %}
                url = '{% url url_path desktop=desktop_type.id zone_name="fixme" %}';
                window.location.href = url.replace("fixme", selection)
                {% endwith %}
            }
        }
    }
  </script>
{% endblock %}
