{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row mb-5">
    <div class="col-12">
      <h1 class="display-5 mb-4 text-center">Unable to log in</h1>
      <p class="lead text-center">You are not authorized to use the
        <em>Virtual Desktop Service</em>.</p>
        <p>Please contact support for more information.</p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <img src="{% static 'img/about-cloud.svg' %}" class="img-fluid" />
    </div>
</div>

{% endblock %}
