{% extends 'common/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
    <div class="row mb-5">
        <div class="col-12">
            <h1 class="display-5 mb-4 text-center">Unable to log in</h1>
            <p class="lead text-center">To use the <em>Virtual Desktop Service</em> you must have a student or employee of, or a collaborator with and Australian research institution that is a member of the <a href="https://aaf.edu.au/">Australian Access Federation (AAF)</a> federation</p>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <img src="{% static 'img/about-cloud.svg' %}" class="img-fluid" />
    </div>
</div>

{% endblock %}
