// Use ARDC Proxima Nova
@import url("https://use.typekit.net/nlr0joz.css");
// $font-family-sans-serif: "Proxima Nova", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-base: proxima-nova, sans-serif;
$font-size-base: 1rem;
$form-label-font-weight: 600;

// ARDC colours
$ardc-blue:   #00A2C4;
$ardc-pink:   #E51875;
$ardc-orange: #F8B20E;
$ardc-purple: #8E489B;
$ardc-grey:   #969696;

// Override bootstrap colours
$dark: #000000;
$blue: $ardc-blue;
$pink: $ardc-pink;
$orange: $ardc-orange;
$purple: $ardc-purple;
$gray: $ardc-grey;

$gray-100: #fcfcfc;
$gray-200: #EEEEEE;
$gray-300: #dddddd;
$gray-400: #c6c6c6;
$gray-500: #999999;
$gray-600: #666666;
$gray-700: #333333;
$gray-800: #222222;
$gray-900: #111111;

$primary:       $orange;
$secondary:     $gray;
$success:       #62C400;
$info:          $blue;
$warning:       $orange;
$danger:        $pink;

$body-bg:                   $gray-100;
$body-color:                $gray-900;

$min-contrast-ratio: 1.5;
//$component-active-bg: $ardc-purple;
$navbar-brand-padding-y: 0;
$input-btn-padding-y-lg: .75rem;
$input-btn-padding-x-lg: 1.25rem;
// Bootstrap shadows
$enable-shadows: true;

$spacer: 1.25rem;

// Bootstrap
@import "scss/bootstrap/bootstrap";

// Font awesome
$fa-font-path: "fontawesome";
@import "scss/fontawesome/fontawesome.scss";
@import "scss/fontawesome/solid.scss";
@import "scss/fontawesome/brands.scss";

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
main {
  min-height: 65vh;
}

.h1, .h2, .h3, .h4, .h5, .h6, 
h1, h2, h3, h4, h5, h6 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.btn {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  border-width: 2px;
}

.btn-link {
  text-decoration: none;
}

.modal-title {
  text-transform: uppercase;
}

.modal-footer {
  justify-content: center;
}

.hex-bg {
	background-color: #969696;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(150,860,526)'%3E%3Cstop offset='0' stop-color='%23969696'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-attachment: fixed;
}

.worker-loader {
  background-image: url("/static/img/bee-loader.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 120px;
  height: 120px;
  animation: spinLoader 4s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@include media-breakpoint-down(sm) {
  .worker-loader {
    width: 90px;
    height: 90px;
  }
}

.toast-container {
  z-index: 1;
  .message-toast {
    &.bg-info {
      .toast-body:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f05a";
        margin-right: 6px;
      }
    }
    &.bg-success {
      .toast-body:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f058";
        margin-right: 6px;
      }
    }
    &.bg-warning {
      background-color: darken($warning, 5%);
      .toast-body:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f071";
        margin-right: 6px;
      }
    }
    &.bg-danger {
      .toast-body:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f06a";
        margin-right: 6px;
      }
    }
  }
}

section.welcome {
  width:  100%;
  overflow: hidden;
  #welcome-bg {
    position:  relative;
    bottom:  0;
    z-index:  -1;
    margin-top:  -4vw;
    margin-bottom:  -10vw;
    margin-left:  -4vw;
    margin-right:  -4vw;
    #web {
      g {
        opacity: 0;
        animation: fadeIn 2s linear 1s forwards;
      }
    }
    #up-down {
      opacity: 0;
      animation: fadeIn 3s linear forwards;
    }
    #computers {
      g {
        opacity: 0;
        animation: fadeIn 0.5s linear forwards;
        &:nth-child(1) { animation-delay: 0.5s }
        &:nth-child(2) { animation-delay: 0.2s }
      }
    }
    #racks {
      > g {
        opacity: 0;
        animation: fadeIn 0.5s linear 1s forwards;
        &:nth-child(2) { animation-delay: 1.5s }
      }
    }
    #disks {
      > g {
        opacity: 0;
        animation: fadeIn 0.5s linear 1.5s forwards;
      }
      &:nth-child(1) { animation-delay: 2s }
    }
    #files {
      opacity: 0;
      animation: fadeIn 0.5s linear 2s forwards;
    }
    #lines {
      line {
        stroke-dasharray: 300;
        stroke-dashoffset: 300;
        animation: draw 2s linear 2s forwards;
      }
    }
    #lines-dashed {
      path, line {
        opacity: 0;
        stroke-dasharray: 12 14;
        stroke-dashoffset: 1000;
        animation: fadeIn 0.5s linear 2s forwards, drawDashed 20s linear 2s infinite;
      }
    }
    #cogs {
      path {
        &:nth-child(1) {
          opacity: 0;
          animation: fadeIn 0.5s linear 2s forwards, spinCogs 4s linear infinite;
          transform-origin: center;
          transform-box: fill-box;
        }
        &:nth-child(2) {
          opacity: 0;
          animation: fadeIn 0.5s linear 2s forwards, spinCogs 4s linear infinite reverse;
          transform-origin: center;
          transform-box: fill-box;
        }
      }
    }
    .flashing-light {
      animation: flashingLight 0.5s linear infinite alternate;
      &:nth-child(1) { animation-delay: 0.2s }
      &:nth-child(2) { animation-delay: 0.4s }
      &:nth-child(3) { animation-delay: 0.6s }
      &:nth-child(4) { animation-delay: 0.8s }
      &:nth-child(5) { animation-delay: 1s }
      &:nth-child(6) { animation-delay: 1.2s }
      &:nth-child(7) { animation-delay: 1.4s }
      &:nth-child(8) { animation-delay: 1.6s }
      &:nth-child(9) { animation-delay: 1.8s }
    }
  }
}

section.desktop-section {
  // background-size: 100% 50%;
  margin-bottom: 300px;
  @media (max-width: 1399.98px) {
    margin-bottom: 200px
  }
  @media (max-width: 991.98px) {
    margin-bottom: 60px
  }
  .desktop-container {
    .workspace-info {
      .workspace-title {
        width: 100%;
        max-height: 5.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .workspace-description {
        width: 100%;
        max-height: 310px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 13;
        -webkit-box-orient: vertical;
      }
    }
    .desktop-info {
      #desktop-computer {
        position: relative;
        margin-bottom: -300px;
        @media (max-width: 991.98px) {
          margin-bottom: 0;
        }
        #desktop-computer-frame {

        }
        #desktop-computer-screen {
          position: absolute;
          top: 5%;
          left: 5%;
          bottom: 20%;
          right: 5%;
        }
      }
    
    }
  }
}
/*
 * Footer
 */
.footer {
  padding: 24px 0;
  .footer-text {
    a {
      &:hover,
      &:focus {
        color: $ardc-pink;
        text-decoration: underline;
      }
    }
    ul {
      list-style: none;
    }
  }
  h4 {
    text-transform:  uppercase;
    &:after {
      content: "";
      background: #fff;
      height: 2px;
      display: block;
      margin-top: 10px;
      max-width: 50px;
    }
  }
  .footer-links {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

/*
 * CSS Functions
 */
@keyframes spinLoader { 
  to { 
      transform:rotate(360deg); 
  } 
}

@keyframes wingsFluttter {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes spinCogs { 
  to { 
      transform:rotate(360deg); 
  } 
}

@keyframes drawDashed {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes flashingLight {
  0% { fill: #f8b20e; }
  25% { fill: #f8b20e; }
  50% { fill: #f8b20e; }
  75% { fill: #f8b20e; }
  100%   { fill: #ddd; }
}
