{% load static compress group_filters active_link settings %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <title>{% block title %}Virtual Desktop Service - ARDC Nectar Research Cloud{% endblock %}</title>

    {% compress css %}
    <link type="text/x-scss" href="{% static 'main.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block extrastyle %}
    {% endblock extrastyle %}
    {% block style %}
    {% endblock style %}
  </head>

  <body>
    <!-- ARDC header and navigation -->
    <section id="navbar" class="sticky-top">
      <nav id="navbar-top" class="navbar navbar-expand-lg navbar-light bg-white">
          <div class="container-xl">
              <a href="{% url 'index' %}" class="navbar-brand">
                  <img src="{% static 'img/ardc-nectar-logo.svg' %}" alt="Virtual Desktop Service" height="40" class="d-inline-block align-text-center me-2">
                  <span class="d-none d-sm-inline-block">Virtual Desktop Service</span>
                  <span class="d-inline-block d-sm-none">Virtual<br />Desktop<br />Service</span>
              </a>
              
              <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#nav-portal" aria-controls="nav-portal" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
      
              <div class="collapse navbar-collapse" id="nav-ardc">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                          <a class="nav-link" href="https://ardc.edu.au/news-and-events/subscribe/" target="_blank">ARDC Newsletter Subscribe</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="https://ardc.edu.au/contact-us/" target="_blank">Contact Us</a>
                      </li>
                      <li class="nav-item d-flex align-items-center">
                          <a class="nav-icon icon-twitter" href="https://twitter.com/ARDC_AU"><i class="fab fa-x-twitter"></i></a>
                          <a class="nav-icon icon-linkedin ms-2" href="https://www.linkedin.com/company/australian-research-data-commons/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                          <a class="nav-icon icon-youtube ms-2" href="https://www.youtube.com/c/ARDC_AU" target="_blank"><i class="fab fa-youtube"></i></a>
                          <a class="nav-icon icon-contact ms-2" href="https://ardc.edu.au/contact-us" target="_blank"><i class="fa fa-envelope"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>

      <nav id="navbar-bottom" class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-xl">
              <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-portal" aria-controls="nav-portal" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button> -->
              <div class="collapse navbar-collapse" id="nav-portal">
                  <ul class="navbar-nav">
                      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                      <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                      {% if user.is_authenticated %}
                        {% load group_filters %}
                        {% if user.is_staff and user.is_superuser %}
                          <li class="nav-item">
                            <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                          </li>
                        {% endif %}
                        {% if user.is_staff or user|has_group:'Support Staff' %}
                          <li class="nav-item {% active_link 'orion_report' %}">
                            <a class="nav-link" href="{% url 'orion_report' %}">Orion</a>
                          </li>
                          <li class="nav-item {% active_link 'user_search' %}">
                            <a class="nav-link" href="{% url 'user_search' %}">Users</a>
                          </li>
                        {% endif %}
                      {% endif %}
                      {% if user.is_authenticated %}
                        <li class="nav-item {% active_link 'help' %}">
                          <a class="nav-link" href="{% url 'help' %}">Help</a>
                        </li>
                        <li class="nav-item dropdown ms-lg-auto">
                          <a href="#" class="nav-link nav-cta" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.email }}
                          </a>
                          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            {% if allow_new_projects %}
                            <li><a class="dropdown-item" href="{% url 'new_project' %}">New Workspace...</a></li>
                            <li><a class="dropdown-item" href="{% url 'projects' %}">
                                Workspaces</a></li>
                            {% else %}
                            <li><a class="dropdown-item" href="{% url 'projects' %}">
                                Workspace</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                              <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-secondary dropdown-item">Sign out</button>
                              </form>
                            </li>
                          </ul>
                        </li>
                      
                      {% else %}
                        <li class="nav-item ms-lg-auto">
                          <a class="nav-link nav-cta" href="{% url 'login' %}" role="button">Sign In</a>
                        </li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>
    </section>

    <main role="main" class="main">
      {% if user.is_authenticated %}
        {# only show the warning header if the user is a super user. #}
        {% if user.is_superuser %}
          <div class="debug_header"></div>
        {% endif %}
      {% endif %} 
      <div class="toast-container position-absolute top-0 end-0 pt-5 pe-3">
        {% for message in messages %}
          <div class="message-toast toast align-items-center text-white bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-message d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      </div>
      
      {% block content %}
      {% endblock content %}

    </main>

    <!-- ARDC footer -->
    <footer id="ardc-footer" role="contentinfo">
      <div class="footer-row">
          <div class="container">
              <div class="row">
                  <div class="col-12 col-md-6 col-lg-4">
                      <div class="footer-logos">
                          <div class="footer-logo-ncris">
                              <a href="https://www.education.gov.au/ncris">
                                  <img id="ncris-logo" src="{% static 'img/ncris-logo.svg' %}"
                                      width="176" height="127"alt="National Collaborative Research Infrastructure Strategy">
                              </a>
                          </div>
                          <div class="footer-logo-ardc">
                              <a href="https://ardc.edu.au/">
                                  <img id="ardc-logo" src="{% static 'img/ardc-logo.svg' %}"
                                      width="176" height="57" alt="Australian Research Data Commons">
                              </a>
                          </div>
                      </div>
                      <p class="footer-image-description">The Australian Research Data Commons is enabled by NCRIS.</p>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                      <!-- Include ARDC newsletter sign up form -->
                      {% include "common/_ardc_subscribe.html" %}
                  </div>
                  <div class="col-12 col-md-6 col-lg-4 footer-links">
                      <h4 class="footer-heading">Quick Links</h4>
                      <ul class="footer-list list-bullet">
                        <li><a href="{% url 'terms' %}" title="Nectar Cloud Terms and Conditions">Terms of Service</a></li>
                        <li><a href="https://ardc.edu.au/privacy-policy/" target="_blank" title="Privacy Policy">Privacy Policy</a></li>
                        <li><a href="https://support.ehelp.edu.au/support/home" title="Nectar Support Centre">Nectar Support Centre</a></li>
                        <li><a href="https://status.rc.nectar.org.au/" target="_blank" title="Nectar Cloud Status Site">Nectar Status</a></li>
                        <li><a href="https://tutorials.rc.nectar.org.au/" target="_blank" title="Nectar Cloud Tutorials">Nectar Tutorials</a></li>
                        <li><a href="https://ardc.edu.au/" target="_blank" title="ARDC Website">ARDC Website</a></li>
                        <li><a href="https://ardc.edu.au/contact-us/" target="_blank" title="Contact ARDC">Contact ARDC</a></li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-row bg-light">
          <div class="container">
              <div class="row footer-acknowledgement">
                  <p>We acknowledge and celebrate the First Australians on whose traditional lands we live and work, and we pay our respects to Elders past, present and emerging.</p>
              </div>
          </div>
      </div>
      <div class="footer-row">
          <div class="container">
              <div class="footer-copyright d-flex flex-wrap align-items-center">
                  <span class="copyright">Copyright © <script type="text/javascript">document.write( new Date().getFullYear() );</script> ARDC. <a href="https://www.acnc.gov.au/charity/charities/eca273f3-f5be-e911-a98a-000d3ad02a61/profile" target="_blank" rel="noopener noreferrer">ACN 633 798 857 <i class="fa fa-external-link-alt" aria-hidden="true"></i></a></span>
                  <a href="https://ardc.edu.au/terms-and-conditions/" target="_blank" class="footer-link" rel="noopener noreferrer"><span class="disclaimer">Terms and Conditions</span></a>
                  <a href="https://ardc.edu.au/privacy-policy/" target="_blank" class="footer-link" rel="noopener noreferrer"><span class="privacy">Privacy Policy</span></a>
                  <a href="https://ardc.edu.au/accessibility-statement-for-ardc/" target="_blank" class="footer-link" rel="noopener noreferrer"><span class="accessibility">Accessibility Statement</span></a>
              </div>
          </div>
      </div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock script %}
    <!-- Running on: {% get_setting "IMAGE_ID" %} -->
  </body>
</html>
