{% load static %}
{% load compress %}
{% load group_filters %}
{% load active_link %}
{% load gravatar %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favison' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <title>{% block title %}Bumblebee{% endblock %}</title>

    {% compress css %}
    <link type="text/x-scss" href="{% static 'main.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block extrastyle %}
    {% endblock extrastyle %}
    {% block style %}
    {% endblock style %}
  </head>

  <body class="bg-light">

    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="navbar-main">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">Bumblebee</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item {% active_link 'desktop_description' %}">
              <a class="nav-link" href="{% url 'desktop_description' %}">Desktop Description</a>
            </li>
            <li class="nav-item {% active_link 'terms' %}">
              <a class="nav-link" href="{% url 'terms' %}">Terms of Service</a>
            </li>
            <li class="nav-item {% active_link 'help' %}">
              <a class="nav-link" href="{% url 'help' %}">Get Help or Contact Us</a>
            </li>
            {% if user.is_authenticated %}
            {% load group_filters %}
            {% if user.is_staff and user.is_superuser %}
            <li class="nav-item">
              <a class="nav-link" href="{% url "admin:index" %}">Administer site</a>
            </li>
            {% endif %}
            {% if user.is_staff or user|has_group:'Support Staff' %}
            <li class="nav-item {% active_link 'orion_report' %}">
              <a class="nav-link" href="{% url 'orion_report' %}">Orion Reporting</a>
            </li>
            <li class="nav-item {% active_link 'user_search' %}">
              <a class="nav-link" href="{% url 'user_search' %}">User Reporting and Search</a>
            </li>
            {% endif %}
          </ul>

          <ul class="navbar-nav">
            <div class="dropdown">
              <a href="#" class="d-block text-decoration-none dropdown-toggle nav-link" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ user|gravatar:50 }}" alt="{{ user.email }}" width="32" height="32" class="rounded-circle">
                <span class="navbar-text ps-2">{{ user.email }}</span>
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <form class="form-inline my-2 my-lg-0" action="{% url 'oidc_logout' %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link dropdown-item">Log out</button>
                </form>
              </ul>
            </div>
          {% else %}
            <li class="nav-item">
            <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log in</a>
          </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <!-- /navbar -->

    <main role="main" class="main container">

      {% if user.is_authenticated %}
        {# only show the warning header if the user is a super user. #}
        {% if user.is_superuser %}
           <div class="debug_header"></div>
        {% endif %}
      {% endif %}

      {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          {{ message }}
        </div>
      {% endfor %}

      {% block content %}
      {% endblock content %}

    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}
    {% endblock script %}

  </body>
</html>
