{% extends 'common/base.html' %}
{% load static %}
{% load active_link %}

{% block content %}
  {% load mathfilters %}
  {% if user.is_authenticated %}
  <section class="desktop-section bg-secondary hex-bg">
    <div class="desktop-container container">
      <div class="row py-5">
        <div class="workspace-info col-sm-12 col-md-4">
          <h6 class="text-white mb-3">WORKSPACE</h6>
          <h1 class="workspace-title h2 text-white mb-3">This is your workspace title.</h1>
          <p class="workspace-description text-white mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
        </div>
        <div class="desktop-info col-sm-12 col-md-8">
          <h2 class="text-center text-white">Good morning {{ user.first_name }}!</h2>
          <div id="desktop-computer">
            <img id="desktop-computer-frame" src="{% static 'img/desktop-computer.svg' %}">
            <div id="desktop-computer-screen" class="bg-white d-flex align-items-center justify-content-center">
            {% if active_module %}
              {{ active_module }}
            {% else %}
              <div class="text-center">
                <h4 class="mb-3">You haven't created a Desktop! Explore the Desktop Library...</h4>
                <a href="#desktop-library" class="btn btn-link btn-lg">Explore <i class="fas fa-arrow-down"></i></a>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

    {% if projects %}
    <section id="#desktop-library">
      <div class="container py-5">
        <div class="row">
          <h1 class="mb-4">Desktop Library</h1>
          {% for module in modules %}
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body shadow">
                  {{ module }}
                </div>
              </div>
            </div>
            {% empty %}
            {% if selected_project %}
              <div>
                <h3>You don't have access to any features</h3>
                <p>
                  This project doesn't currently have access to any of the wonderful features of our service.
                  Click on the <a href="/#Discover">Discover</a> tab above to get access to some of our great features.
                </p>
              </div>
            {% elif projects %}
              <div>
                <h3>Your project(s) are pending approval by their ARO</h3>
                <p>
                  You can't access a project until we have received approval from the project's nominated ARO.
                  The ARO specified in your project will be notified, and we will approve your project as
                  soon as we receive confirmation from them.
                </p>
              </div>
            {% else %}
            <div>
              <h3>You don't have a project yet</h3>
              <p>
                Please click the "Add New Project" button above to create a project. Once you have a project
                you can start adding features to it in the "Discover" tab.
              </p>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
    {% else %}
      <div class="container py-5">
        <div class="row">
          <div class="col-12 text-center align-items-center">
            <h2 class="mb-3">Create a project to get started...</h2>
            <a class="btn btn-primary btn-lg" href="{% url 'new_project' %}" role="button" title="Create Project">
              <span class="btn-label"><i class="fas fa-plus"></i></span> Create Project
            </a>
          </div>
        </div>
      </div>
    {% endif %}

    

    {% endif %}

{% endblock content %}
{% block script %}
    <script>
    {% for script in scripts %}
        {{ script }}
    {% endfor %}
    </script>
{% endblock script %}
