{% extends 'common/base.html' %}
{% load static %}
{#{% load group_filters %}#}
{% block breadcrumb %}
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
    <a href="{% url 'home' %}" itemprop="item" title="Home">
        <span itemprop="name">Home</span>
    </a>
    <meta content="2" itemprop="position" />
</li>
{% endblock breadcrumb %}

{% block content %}

    <h2>Orion</h2>
    <p>
        Thank you for visiting Orion. Unfortunately, we have reached our user capacity limit,
        however, we are planning to release new resources very soon.
        We will contact you as soon as new user spots are available. We appreciate your patience.
    </p>

{% endblock %}